nav {
  background-color: rgb(242, 230, 169);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: flex;

}

.menu-item{
  margin-right: 2rem;

}

.logo{
  margin-left: 2rem;
}